pandas
fastapi
uvicorn
typing
typing_extensions
pymupdf
python-multipart
Pillow
PyMuPDF
python-dotenv
landingai-ade
langchain-google-genai
langchain

## rag service dependencies
sentence_transformers
langchain-huggingface
langchain-community
faiss-cpu
google-genai
